/* roots */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

#navbar1 .navbar1 {
  max-height: 10%;
  background: white;
  padding: 25px; }
#navbar1 .image {
  text-align: center; }
#navbar1 .information {
  position: absolute;
  right: 25px;
  top: 25px;
  margin-right: 9%;
  margin-top: -5px; }
  #navbar1 .information a {
    font-size: 1.5rem;
    color: black !important;
    text-decoration: none; }
    #navbar1 .information a:first-child {
      margin-right: 20px; }
#navbar1 .navbar1 .navbar-brand img {
  width: 40px; }
@media (max-width: 1024px) {
  #navbar1 .information {
    display: block;
    margin-left: 15px; } }
@media (max-width: 540px) {
  #navbar1 {
    /* For a screen < 540px, this CSS will be read */ }
    #navbar1 .information {
      position: relative; }
    #navbar1 .navbar1 {
      max-height: 10%;
      background: white;
      padding-top: 27px;
      padding-bottom: 0px; } }
@media (max-width: 320px) {
  #navbar1 .information {
    margin-right: 16px;
    margin-top: -7px; }
  #navbar1 .information a {
    font-size: 1.2rem; } }
@media (orientation: landscape) and (max-width: 960px) {
  #navbar1 .information a {
    font-size: 1.2rem; }
  #navbar1 .information {
    margin-right: 39px;
    margin-top: -5px; } }
@media (orientation: landscape) and (max-width: 600px) {
  #navbar1 .information a {
    font-size: 1rem; }
  #navbar1 .information {
    margin-right: 39px; } }

#footer.footer {
  display: block;
  width: 100%;
  background-color: #F8F8F8;
  color: black;
  text-align: center;
  margin-top: 3%; }
#footer .wrap-call {
  padding-bottom: 10px; }
#footer h2 {
  font-size: 0.89rem; }
#footer .box-footer {
  vertical-align: center; }
  #footer .box-footer .wrapper-footer {
    padding: 30px; }
#footer .col {
  display: inline-block;
  text-align: center; }
#footer .address {
  width: 39%; }
#footer .call {
  width: 19%; }
  #footer .call h2 {
    padding-bottom: 14px; }
  #footer .call p {
    padding-top: 1px; }
#footer .email {
  width: 39%; }
#footer .lastone {
  text-align: center;
  background-color: white; }
  #footer .lastone .wrapper-lastone {
    padding: 3px; }
@media (max-width: 960px) {
  #footer .container {
    padding: 0 !important; }
  #footer .box-footer .wrapper-footer {
    padding: 6px; } }
@media (max-width: 720px) {
  #footer footer {
    display: block;
    width: 100%;
    background-color: #F8F8F8;
    color: black;
    text-align: center;
    margin-top: 3%; }
  #footer .col {
    display: block;
    text-align: center; }
  #footer .address {
    width: 100%; }
  #footer .call {
    width: 100%; }
    #footer .call h2 {
      padding: 0; }
  #footer .email {
    width: 100%; }
  #footer .box-footer .wrapper-footer {
    padding: 6px; }
  #footer .wrap-call1 {
    padding-top: -20px; } }

#web .box {
  max-width: 70vw;
  max-height: 50vh;
  margin-left: 7%;
  margin-bottom: 30%;
  margin-top: 10%; }
#web .name {
  position: relative;
  left: 5% 0.5%;
  margin-bottom: 1%; }
  #web .name h1 {
    font-size: 3.5rem; }
  #web .name .yellow-text {
    max-width: 80%; }
#web .pics {
  text-align: center; }
#web .outside {
  margin-top: 10px; }
#web .details {
  margin-top: 5%;
  position: relative;
  font-style: regular;
  color: #515B60; }
  #web .details li {
    font-size: 1.5rem; }
#web .elements-1 {
  z-index: 1;
  position: absolute;
  left: 30%; }
  #web .elements-1 .element-1 {
    margin-top: 44px;
    margin-left: -399px; }
#web .elements-2 {
  position: absolute;
  margin-top: -66px;
  right: 2%; }
  #web .elements-2 .element-2 {
    margin-top: 40px;
    position: absolute;
    right: 0;
    z-index: 1; }
#web .yellowspoon-1 {
  position: absolute;
  left: -19%;
  margin-top: -55px;
  z-index: 1; }
#web .yellowspoon-2 {
  position: absolute;
  top: 122%;
  right: -34%;
  z-index: 1;
  margin-right: 100px;
  margin-top: -160px; }
#web .ido-build-1 {
  position: absolute;
  left: -6.75%;
  z-index: 1; }
#web .ido-build-2 {
  position: absolute;
  left: 70.7%;
  z-index: 1;
  margin-right: 270px;
  margin-top: -25px; }
#web .arrow-left {
  background-image: url("../pictures/arrow slide left.png");
  background-color: transparent;
  width: 75px;
  height: 51px; }
#web .arrow-right {
  background-image: url("../pictures/arrow slide right.png");
  background-color: transparent;
  width: 75px;
  height: 51px; }
@media (max-width: 1240px) {
  #web .elements-1 .element-1 {
    margin-top: 21px;
    margin-left: -275px;
    max-width: 128px; }
  #web .box {
    max-width: 70vw;
    max-height: 50vh;
    margin-left: 7%;
    margin-bottom: 0;
    margin-top: 10%; }
  #web .yellowspoon-1 {
    position: absolute;
    left: -11%;
    margin-top: -38px;
    z-index: 1; }
  #web .yellowspoon-2 {
    max-width: 177px;
    position: absolute;
    top: 158%;
    right: -126px; }
  #web .ido-build-2 {
    max-width: 263px;
    position: absolute;
    left: 61.7%;
    z-index: 1;
    margin-right: 268px;
    margin-top: -23px; }
  #web .ido-build-1 {
    max-width: 33px; }
  #web .row {
    margin: 0; } }
@media (max-width: 960px) {
  #web .name h1 {
    font-size: 2.5rem; }
  #web .details li {
    font-size: 1.25rem; }
  #web .elements-1 .element-1 {
    margin-top: 21px;
    margin-left: -226px;
    max-width: 128px; }
  #web .box {
    max-width: 100vw;
    max-height: 100vh;
    margin-left: 0%;
    margin-bottom: 0;
    margin-top: 10%; }
  #web .ido-build-2 {
    max-width: 195px;
    position: absolute;
    left: 70.7%;
    z-index: 1;
    margin-right: 262px;
    margin-top: -17px; }
  #web .ido-build-1 {
    max-width: 27px; }
  #web .row {
    margin: 0; } }
@media (max-width: 520px) {
  #web .row {
    margin: 0; }
  #web .name h1 {
    font-size: 1.5rem; }
  #web .details li {
    font-size: 0.89git rem; }
  #web .elements-1 .element-1 {
    max-width: 0; }
  #web .elements-2 .element-2 {
    max-width: 0; }
  #web .yellowspoon-1 {
    max-width: 0; }
  #web .yellowspoon-2 {
    max-width: 0; }
  #web .ido-build-1 {
    max-width: 0; }
  #web .ido-build-2 {
    max-width: 0; }
  #web .arrow-left {
    background-image: url("../pictures/arrow slide left.png");
    background-color: transparent;
    width: 0; }
  #web .arrow-right {
    background-image: url("../pictures/arrow slide right.png");
    background-color: transparent;
    width: 0; } }
@media (max-width: 360px) {
  #web .name h1 {
    font-size: 1.25rem; } }

html, body {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

body {
  background-color: white;
  color: #000;
  font-size: 12px;
  line-height: 1.3;
  font-synthesis: none;
  font-variant-numeric: oldstyle-nums;
  font-family: "Lato", sans-serif; }

#main .gap {
  height: 100%;
  min-width: 320px; }
#main .gapstart {
  min-height: 100vh;
  min-width: 100vw; }
#main .title {
  text-align: left;
  font-size: 112px/122px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1; }
  #main .title:hover {
    cursor: pointer; }
    #main .title:hover .text-blue {
      color: #fff; }
    #main .title:hover .text-black {
      color: #fff; }
    #main .title:hover .text-grey {
      color: #fff; }
    #main .title:hover .arrow {
      right: 10%;
      top: 5%;
      position: absolute;
      display: block; }
#main a {
  text-decoration: none; }
#main .arrow {
  display: none; }
#main .box {
  max-height: 86vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr; }
#main .s-blue {
  background-color: #26A9E0; }
#main .s-black {
  background-color: #000; }
#main .s-grey {
  background-color: #58595B; }
#main .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--main-padding);
  z-index: -1;
  transform: translateZ(0);
  display: block;
  width: 100%;
  height: 100%; }
#main .main {
  position: absolute;
  z-index: 1; }
#main .message {
  position: relative;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
  max-height: 310px;
  text-align: left;
  font-style: normal;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 0;
  color: #000000;
  line-height: 1.5; }
  #main .message b {
    font-family: "Lato", sans-serif;
    font-weight: 700; }
  #main .message .highlight-word {
    cursor: pointer;
    background-color: #B1D6FF; }
#main .head {
  margin-top: 28%;
  margin-left: 4%; }
  #main .head h1 {
    font-size: 5rem;
    font-family: "Lato", sans-serif;
    font-weight: 700; }
  #main .head .text-blue {
    color: #26A9E0;
    -webkit-text-stroke: 1.5px #fff; }
  #main .head .text-black {
    color: #000;
    -webkit-text-stroke: 1.5px #fff; }
  #main .head .text-grey {
    color: #58595B;
    -webkit-text-stroke: 1.5px #fff; }
#main .application-h1 {
  margin-left: 4%;
  margin-top: 33% !important; }
#main .bottom {
  margin-left: 4%;
  margin-top: 21%;
  line-height: 1.5; }
  #main .bottom h2 {
    font-size: 1.5rem; }
#main .application-h2 {
  margin-left: 4%;
  margin-top: 24%; }
@media (orientation: landscape) {
  #main .title {
    min-width: 120vh;
    height: 100%; } }
@media (max-width: 1024px) {
  #main main {
    position: relative; }
  #main .bg {
    position: relative; }
  #main .gapstart {
    min-height: 0; }
  #main .title {
    margin: 0;
    width: 100%; }
    #main .title:hover .text-blue {
      color: transparent; }
    #main .title:hover .text-black {
      color: transparent; }
    #main .title:hover .text-grey {
      color: transparent; }
    #main .title:hover .arrow {
      z-index: -2; }
    #main .title h1 {
      margin-bottom: -42px;
      font-size: 6.5rem;
      margin-top: -71px; }
  #main .bottom h2 {
    margin-top: -30px;
    font-size: 1.7rem; }
  #main .gap {
    min-height: 0px; }
  #main .bg {
    max-width: 100%; }
  #main .message {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    left: 0%;
    padding: 24px; } }
@media (max-width: 960px) {
  #main .title {
    margin: 0;
    width: 100%; }
  #main .bottom h2 {
    margin-top: -30px;
    font-size: 1.25rem; }
  #main .gap {
    min-height: 0px; }
  #main .title {
    max-width: 100%; }
  #main .bg {
    max-width: 100%; }
  #main .message {
    left: 0%;
    padding: 24px; } }
@media (max-width: 720px) {
  #main .title {
    margin: 0;
    width: 100%; }
  #main .bottom h2 {
    font-size: 1rem;
    margin-left: 10px; }
  #main .gap {
    min-height: 3%; }
  #main .title {
    max-width: 100%; }
  #main .bg {
    max-width: 100%; } }
@media (max-width: 540px) {
  #main .message {
    position: relative;
    display: block;
    font-size: 1rem;
    padding: 28px; }
  #main .title h1 {
    margin-left: 10px;
    font-size: 3.25rem;
    margin-top: -5px; }
  #main .title {
    height: 54vh; }
  #main .application-h1 {
    margin-top: 37% !important; } }
@media (max-width: 420px) {
  #main .message {
    font-size: 1.14rem; } }
@media (max-width: 375px) {
  #main .message {
    font-size: 0.96rem; }
  #main .title h1 {
    font-size: 3rem; } }
@media (max-width: 320px) {
  #main .message {
    font-size: 0.8rem; }
  #main .title {
    max-width: 100vh; }
    #main .title h1 {
      font-size: 2.5rem; }
  #main .bottom h2 {
    font-size: 0.9rem; } }
@media (orientation: landscape) and (max-width: 1024px) {
  #main .gapstart {
    min-height: 100vh; }
  #main main {
    position: absolute; }
  #main .bg {
    position: absolute; }
  #main .message {
    margin-top: 10%; } }
@media (orientation: landscape) and (max-width: 1024px) {
  #main .message {
    margin-top: 10%;
    font-size: 1.14rem;
    padding: 23px;
    padding-right: 30px; }
  #main .title h1 {
    font-size: 3rem; }
  #main .bottom h2 {
    font-size: 1.5rem; } }
@media (orientation: landscape) and (max-width: 760px) {
  #main .message {
    margin-top: 10%;
    font-size: 1rem;
    padding: 33px;
    padding-right: 95px; }
  #main .title h1 {
    font-size: 3rem; }
  #main .bottom h2 {
    font-size: 1rem; } }
@media (orientation: landscape) and (max-width: 670px) {
  #main .message {
    margin-top: 10%;
    font-size: 1rem;
    padding-right: 105px;
    padding-left: 93px; } }
@media (orientation: landscape) and (max-width: 600px) {
  #main .message {
    margin-top: 10%;
    font-size: 1rem;
    padding-right: 66px;
    padding-left: 40px; } }

/*# sourceMappingURL=style.css.map */
