body {
    background-color: white;
    color: $black;
    font-size: 12px;
    line-height: 1.3;
    font-synthesis: none;
    font-variant-numeric: oldstyle-nums;
    font-family: $font;
}
#main{
    .gapstart {
        min-height: 100vh
    }

    .gap {
        height: 100%;
        min-width: 320px
    }
    .gapstart {
        height: 100%;
        min-width: 100vw
    }

    .title {
        text-align: left;
        //font-style: Bold;
        font-size: 112px/122px;
        font-family: $font;
        letter-spacing: 0;
        color: #FFFFFF;
        opacity: 1;
        &:hover {
            cursor: pointer;
            .text-blue{
                color:$white;
            }
            .text-black{
                color:$white;
            }
            .text-grey{
                color:$white;
            }
            .arrow {
                right: 10%;
                position: absolute;
                display: block;
            }
        }
    }

    .arrow{
        display: none;
    }

    .box{
        max-height: 86vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
    }

    .s-blue {
        background-color: $blue; 
    }

    .s-black {
        background-color: $black;
    }

    .s-grey {
        background-color: $grey;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        padding: var(--main-padding);
        z-index:-1;
        transform: translateZ(0);
        display: block;
        width: 100%;
        height: 100%;
    }

    .main {
        position: absolute;
        z-index: 1
    }

    .message {
        position: relative;
        margin-top: 18%;
        margin-bottom: 15%;
        margin-right: auto;
        margin-left: auto;
        max-width: 960px;
        max-height: 303px;
        text-align: left;
        font-style: normal;
        font-size:1.5rem;
        font-family: $font;
        letter-spacing: 0;
        color: #000000;
        line-height: 1.5;
        b {
            @include fontBold
        }

        .highlight-word {
            cursor: pointer;
            background-color: $lightblue;   
        }
    }

    .head{
        h1{
            font-size: 5rem;
            @include fontBold;
        }
        margin-top: 28%;
        margin-left: 4%;

        .text-blue{
            color:$blue;
            -webkit-text-stroke: 1.5px $white;
        }

        .text-black{
            color:$black;
            -webkit-text-stroke: 1.5px $white;
        }

        .text-grey{
            color:$grey;
            -webkit-text-stroke: 1.5px $white;
        }
    }

    .application-h1 {
        margin-left: 4%;
        margin-top: 33% !important;
    }

    .bottom {
        margin-left: 4%;
        margin-top: 21%; 
        line-height: 1.5;
        h2{
            font-size: 1.5rem;
        }
    }

    .application-h2{
        margin-left: 4%;
        margin-top: 28%;
    }

    @media (orientation:landscape) {
        .title {
            min-width: 110vh;
            height: 100%
        }
    }
}