html, body, {
    position:relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
body {
    background-color: white;
    color: $black;
    font-size: 12px;
    line-height: 1.3;
    font-synthesis: none;
    font-variant-numeric: oldstyle-nums;
    font-family: $font;
}

#main{
  
    .gap {
        height: 100%;
        min-width: 320px;
    }

    .gapstart {
        min-height: 100vh;
        min-width: 100vw;
    }

    .title {
        text-align: left;
        //font-style: Bold;
        font-size: 112px/122px;
        font-family: $font;
        letter-spacing: 0;
        color: #FFFFFF;
        opacity: 1;
        &:hover {
            cursor: pointer;
            .text-blue{
                color:$white;
            }
            .text-black{
                color:$white;
            }
            .text-grey{
                color:$white;
            }
            .arrow {
                right: 10%;
                top: 5%;
                position: absolute;
                display: block;
            }
        }
    }

    a {
        text-decoration: none;
    }

    .arrow{
        display: none;
    }

    .box{
        max-height: 86vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
    }

    .s-blue {
        background-color: $blue; 
    }

    .s-black {
        background-color: $black;
    }

    .s-grey {
        background-color: $grey;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: var(--main-padding);
        z-index:-1;
        transform: translateZ(0);
        display: block;
        width: 100%;
        height: 100%;
    }

    .main {
        position: absolute;
        z-index: 1
    }

    .message {
        position: relative;
        margin-top: 15%;
        margin-bottom: 15%;
        margin-right: auto;
        margin-left: auto;
        max-width: 700px;
        max-height: 310px;
        text-align: left;
        font-style: normal;
        font-size:1.5rem;
        font-family: $font;
        letter-spacing: 0;
        color: #000000;
        line-height: 1.5;
        b {
            @include fontBold
        }

        .highlight-word {
            cursor: pointer;
            background-color: $lightblue;   
        }
    }

    .head{
        h1{
            font-size: 5rem;
            @include fontBold;
        }
        margin-top: 28%;
        margin-left: 4%;

        .text-blue{
            color:$blue;
            -webkit-text-stroke: 1.5px $white;
        }

        .text-black{
            color:$black;
            -webkit-text-stroke: 1.5px $white;
        }

        .text-grey{
            color:$grey;
            -webkit-text-stroke: 1.5px $white;
        }
    }

    .application-h1 {
        margin-left: 4%;
        margin-top: 33% !important;
    }

    .bottom {
        margin-left: 4%;
        margin-top: 21%; 
        line-height: 1.5;
        h2{
            font-size: 1.5rem;
        }
    }

    .application-h2{
        margin-left: 4%;
        margin-top: 24%;
    }

    @media (orientation:landscape) {
        .title {
            min-width: 120vh;
            height: 100%
        }
    }

    @media (max-width: 1024px) {
        main{
            position: relative;
        }
        .bg{
            position: relative;
        }
        .gapstart{
            min-height: 0;
        }
        .title{
            margin: 0;
            width: 100%;  
            &:hover {
                .text-blue{
                    color:transparent;
                }
                .text-black{
                    color:transparent;
                }
                .text-grey{
                    color:transparent;
                }
                .arrow {
                    z-index: -2;
                }
            }  
            h1 {
                margin-bottom: -42px;
                font-size: 6.5rem;
                margin-top: -71px;
            }
        }
        
        .bottom h2{
         margin-top: -30px;
         font-size: 1.7rem;
        }
        .gap{
            min-height: 0px;
        }
        .bg{
            max-width:100%;
        }
        .message{
            margin-top:0;
            margin-bottom:0;
            font-size: 1.5rem;
            left: 0%;
            padding: 24px;
        }
    }

  
    @media (max-width: 960px) {
       
       .title{
           margin: 0;
           width: 100%;
       }
       .bottom h2{
        margin-top: -30px;
        font-size: 1.25rem;
       }
       .gap{
           min-height: 0px;
       }
       .title {
           max-width: 100%;

       }
       .bg{
           max-width:100%;
       }
       .message{
            left: 0%;
            padding: 24px;
       }
      }
    
    @media (max-width: 720px) {
       
        .title{
            margin: 0;
            width: 100%;
        }
        .bottom h2{
            font-size: 1rem;
            margin-left: 10px;
        }
        .gap{
            min-height: 3%;
        }
        .title {
            max-width: 100%;
        }
        .bg{
            max-width:100%;
        }
    }
    @media (max-width: 540px) {
     
       .message{
            position: relative;
            display: block;
            font-size: 1rem;
            padding: 28px;
       }
        .title h1{
            margin-left: 10px;
            font-size: 3.25rem;
            margin-top: -5px;
        }

        .title{
            height: 54vh;
        }

        .application-h1{
            margin-top: 37% !important;
        }
    
    }

    @media (max-width: 420px) {
        .message{
            font-size: 1.14rem;
        }
     
    }

    @media (max-width: 375px) {
        .message {
            font-size: 0.96rem;
        }
       
        .title h1 {
            font-size: 3rem;
        }
    }

    @media (max-width: 360px) {
      
    }

    @media (max-width: 320px) {
        .message {
            font-size: 0.8rem;
        }
        .title {
            max-width: 100vh;
            h1 {
                font-size: 2.5rem;
            }
        } 
        .bottom h2{
            font-size: 0.9rem;
        }
    }

    @media (orientation: landscape) and (max-width: 1024px) {
        .gapstart{
            min-height: 100vh;
        }
        main {
            position: absolute;
        }
        .bg {
            position: absolute;
        }
        .message {
            margin-top: 10%;
        }
      

    }
    @media (orientation: landscape) and (max-width: 1024px) {
        .message{
            margin-top: 10%;
            font-size: 1.14rem;
            padding: 23px;
            padding-right: 30px;
        }

        .title h1{
            font-size:3rem;
        }

        .bottom h2{
            font-size: 1.5rem;
        }
       
    }

    @media (orientation: landscape) and (max-width: 760px) {
        .message{
            margin-top: 10%;
            font-size: 1rem;
            padding: 33px;
            padding-right: 95px;
        }

        .title h1{
            font-size:3rem;
        }

        .bottom h2{
            font-size: 1rem;
        }
       
    }


    @media (orientation: landscape) and (max-width: 670px) {
        .message{
            margin-top: 10%;
            font-size: 1rem;
            padding-right: 105px;
            padding-left:93px;
        }
       
    }

    @media (orientation: landscape) and (max-width: 600px) {
        .message{
            margin-top: 10%;
            font-size: 1rem;
            padding-right: 66px;
            padding-left: 40px;
        }
       
    }
}