#footer{
    &.footer{
        display:block;
        width: 100%;
        background-color: #F8F8F8;
        color: black;
        text-align:center;
        margin-top: 3%;
    }

    .wrap-call {
        padding-bottom: 10px;
    }

    h2{
        font-size: 0.89rem;
    }

    .box-footer{
        vertical-align: center;
        .wrapper-footer {
            padding: 30px;
         }
    }

    .col{
        display:inline-block;
        text-align:center;
    }

    .address{
        width: 39%;
    }

    .call{
        width: 19%;
        h2 {
            padding-bottom:14px;
        }
        p {
            padding-top: 1px;
        }
    }

    .email{
        width:39%;
     }

    .lastone{
        text-align:center;
        background-color:white;
        .wrapper-lastone{
            padding: 3px;
          
        }
     }
     @media (max-width: 960px){
        .container {
            padding:0 !important;
        }
        .box-footer{
            .wrapper-footer{
                padding: 6px;
            }
        }
     }

     @media (max-width:720px){
        footer{
            display:block;
            width: 100%;
            background-color: #F8F8F8;
            color: black;
            text-align:center;
            margin-top: 3%;
        }
        .col {
            display: block;
            text-align: center;
        }
        .address{
            width: 100%;
        }
        .call{
            width: 100%;
            h2{
                padding:0;
            }
        }
        .email{
            width: 100%;
        }
        .box-footer{
            .wrapper-footer{
                padding: 6px;
            }
        }
        .wrap-call1{
            padding-top: -20px;
        }

     } 
}
