html, body, {
  // position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
#navbar{
  .navbar {
    max-height: 10%;
    background: white;
    padding: 25px;
  }
  
  .image {
    text-align: center;
  }
  
  .information {
    position:absolute;
    right: 25px;
    top: 25px;
    margin-right:9%;
    margin-top: -5px;
   a {
      font-size: 1.5rem;
      text-decoration: none;
      &:first-child{
        margin-right: 20px;
      }
    }
  }
  
  .navbar .navbar-brand img {
    width: 40px;
  }
  
  @media (max-width: 960px) {
    .information{
    display: block;
    margin-left: 15px;
    }
    
  }
  
  @media (max-width: 720px) {
    // .information a {
    //   min-height: 30px;
    //   min-width: 50px;
    // }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .image{
      width: 30px;
    }
    .information {
      margin-top: -10px;
    }
  }
  
}
