html, body, {
  // position:fixed;
  top:0 ;
  bottom:0;
  left:0;
  right:0;
}
#navbar1{
  .navbar1 {
    max-height: 10%;
    background: white;
    padding: 25px;
  }
  
  .image {
    text-align: center;
  }
  
  .information {
    position:absolute;
    right: 25px;
    top: 25px;
    margin-right:9%;
    margin-top: -5px;
   a {
      font-size: 1.5rem;
      color: black !important;
      text-decoration: none;
      &:first-child{
        margin-right: 20px;
      }
    }
  }
  
  .navbar1 .navbar-brand img {
    width: 40px;
  }
  
  @media (max-width: 1024px) {
    .information{
    display: block;
    margin-left: 15px;
    }
    
  }
  
  @media (max-width: 720px) {
    // .information a {
    //   min-height: 30px;
    //   min-width: 50px;
    // }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .image{
      width: 30px;
    }
    .information a {
      margin-top: -10px;
      font-size: 1.3rem;
    }
  }

  @media (max-width: 320px) {
    .information {
      margin-right: 16px;
      margin-top: -7px;
    }
    .information a{
      font-size: 1.2rem;
    }
  }

  @media (orientation: landscape) and (max-width: 960px) {
    .information a{
      font-size:1.2rem;
    }
    .information {
      margin-right: 39px;
      margin-top: -5px;
    }
  }

  @media (orientation: landscape) and (max-width: 600px) {
    .information a{
      font-size:1rem;
    }
    .information {
      margin-right: 39px;
    }
  }
  
}
