
#web{
    
    //main of this page
    .container{
        background-color:white !important;
        position:relative;
    }
    .name{
        position:relative;
        left:16.5%;

        h1{
            font-size:3rem;
        }
    }
    .wrap-arrow{
        width:40%;
        .wrap-arrow-right{
            position:absolute;
            right:20%;
            margin-top: 235px;
            
        }
        .wrap-arrow-left{
            position:absolute;
            left:20%;
            margin-top: 235px;
        }
    }

    .pics{
        text-align:center;
    }
    .outside{
        margin-top:10px;
    }

    .details{
        margin-top: 30px;
        position:relative;
        left:16.5%;
        margin-bottom: 100px;
        font-style: regular;
        color: #515B60;
        li{
            font-size:1.5rem;
        }
    }

    //element pictures of ROMPBOY
    .elements-1{
        position:absolute;
        left:30%;
        .element-1{
            margin-top: 44px;
            margin-left: -302px;
        }
    }
    .elements-2{
        position:absolute;
        margin-top: -66px;
        right:18%;
        .element-2 {
            margin-top:40px;
            position:absolute;
            right:0;
            z-index: 1;
        }   
    }
    //element pictures of Yellow sppon 
    .yellowspoon-1{
        position:absolute; 
        left:4%;
        margin-top: -55px;
    }
    .yellowspoon-2{
        position:absolute;
        right:15;
        z-index:1;
        margin-right: 100px;
        margin-top: -160px;
    }
    //element pictures of yellowspoon
    .ido-build-1{
        position:absolute; 
        left:12.25%;
    }
    
    .ido-build-2{
        position:absolute;
        right:15;
        z-index:1;
        margin-right: 284px;
        margin-top: -50px;
        transform: translate(0%, -99.9943%) matrix3d(0.984811, 0.173631, 0, 0, -0.173631, 0.984811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}