/* roots */
$white: #fff;
$black: #000;
$blue: #26A9E0;
$red: #ef1414;
$grey: #58595B;
$lightblue: #B1D6FF; 
$main-padding: 30px;
$deco-line-height: 20px;
$dot: calc(var(--deco-line-height)*2);
$button-h: 80px;
$transition: 0.5s;
$vh: 1vh;
$font:'Lato', sans-serif; 